#animals-1-view {
  position: relative; }
  #animals-1-view .text {
    padding: 0 125px;
    text-align: left; }
  #animals-1-view .animals-1-icon {
    position: absolute;
    top: 330px;
    left: -140px; }
