<div class="obr-modal obr-absoluted obr-content-middle">
  <div class="obr-middle">
    <div class="close-btn"></div>
    <div id="videos-view" >
      <div class="modal-title">Videos</div>
      <ul>
        <li>
          <img id="0" src="img/trailer.jpg">
          <div class="name">Video 1</div>
        </li>
        <li>
          <img id="1" src="img/trailer.jpg">
          <div class="name">Video 2</div>
        </li>
      </ul>
      <img class="videos-icon" src="img/videos.png">
    </div>
    <ul class="stars">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>